In [2]:
import pandas as pd 
from matplotlib import pyplot as pyplot
import seaborn as sns
import os


# Import necessary libraries
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split, cross_val_score,cross_validate
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,recall_score,f1_score,make_scorer,precision_score
from sklearn.preprocessing import LabelEncoder

In [3]:
DIRECTORY = r'G:\.shortcut-targets-by-id\1uExmPmKnHKKlOfMdT70cXpwXvdf9aVEC\Capstone Project summer 2025- Team6\datasets'

In [4]:
df = pd.read_csv(os.path.join(DIRECTORY,'evaluation-fonciere-with-fire.csv'))

In [5]:
df.columns

Index(['ID_UEV', 'CIVIQUE_DEBUT', 'CIVIQUE_FIN', 'NOM_RUE', 'SUITE_DEBUT',
       'MUNICIPALITE', 'ETAGE_HORS_SOL', 'NOMBRE_LOGEMENT',
       'ANNEE_CONSTRUCTION', 'CODE_UTILISATION', 'LETTRE_DEBUT', 'LETTRE_FIN',
       'LIBELLE_UTILISATION', 'CATEGORIE_UEF', 'MATRICULE83',
       'SUPERFICIE_TERRAIN', 'SUPERFICIE_BATIMENT', 'NO_ARROND_ILE_CUM',
       'fire'],
      dtype='object')

In [6]:


# Encode categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
le = LabelEncoder()

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

# split into X,y
X=df.iloc[:, :-1]
y=df['fire']

In [7]:
df.head(2)

,ID_UEV,CIVIQUE_DEBUT,CIVIQUE_FIN,NOM_RUE,SUITE_DEBUT,MUNICIPALITE,ETAGE_HORS_SOL,NOMBRE_LOGEMENT,ANNEE_CONSTRUCTION,CODE_UTILISATION,LETTRE_DEBUT,LETTRE_FIN,LIBELLE_UTILISATION,CATEGORIE_UEF,MATRICULE83,SUPERFICIE_TERRAIN,SUPERFICIE_BATIMENT,NO_ARROND_ILE_CUM,fire
0,1038405,3577,3577,482,5893,50,NaN,NaN,1983,1921,16,18,505,0,387877,2,NaN,7,False
1,5213144,5211,5211,6646,508,50,1.0,1.0,2012,1000,16,18,352,0,152008,69,68.0,15,False

In [8]:
X.head(2)

,ID_UEV,CIVIQUE_DEBUT,CIVIQUE_FIN,NOM_RUE,SUITE_DEBUT,MUNICIPALITE,ETAGE_HORS_SOL,NOMBRE_LOGEMENT,ANNEE_CONSTRUCTION,CODE_UTILISATION,LETTRE_DEBUT,LETTRE_FIN,LIBELLE_UTILISATION,CATEGORIE_UEF,MATRICULE83,SUPERFICIE_TERRAIN,SUPERFICIE_BATIMENT,NO_ARROND_ILE_CUM
0,1038405,3577,3577,482,5893,50,NaN,NaN,1983,1921,16,18,505,0,387877,2,NaN,7
1,5213144,5211,5211,6646,508,50,1.0,1.0,2012,1000,16,18,352,0,152008,69,68.0,15

In [9]:






# Split dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define multiple scoring metrics
scoring_metrics = ['recall_macro', 'precision_macro', 'f1_macro']

#define a random forest model
rf = RandomForestClassifier(n_estimators=100, random_state=42)

# Perform k-fold cross-validation on training set
scores = cross_validate(
    estimator=rf,
    X=X_train,
    y=y_train,
    cv=5,
    scoring=scoring_metrics,
    return_train_score=True
)

# Print scores for each metric
print("K-fold Cross Validation Scores:")
for metric in scoring_metrics:
    print(f"\n{metric}:")
    for i, score in enumerate(scores[f'test_{metric}']):
        print(f"Fold {i+1}: {score:.2%}")
    print(f"Average {metric}: {scores[f'test_{metric}'].mean():.2%}")


# Train on entire training set and evaluate on test set
rf.fit(X_train, y_train)
y_test_predictions = rf.predict(X_test)
test_accuracy = accuracy_score(y_test,y_test_predictions)
test_precision = precision_score(y_test,y_test_predictions)
test_recall = recall_score(y_test,y_test_predictions)
test_f1 = f1_score(y_test,y_test_predictions)


print(f"\nTest Set Accuracy: {test_accuracy:.2%}")
print(f"\nTest Set Precision: {test_precision:.2%}")
print(f"\nTest Set Recall: {test_recall:.2%}")
print(f"\nTest Set F1-score: {test_f1:.2%}")

K-fold Cross Validation Scores:

recall_macro:
Fold 1: 92.51%
Fold 2: 92.40%
Fold 3: 92.44%
Fold 4: 92.43%
Fold 5: 92.27%
Average recall_macro: 92.41%

precision_macro:
Fold 1: 93.11%
Fold 2: 93.01%
Fold 3: 93.07%
Fold 4: 93.04%
Fold 5: 92.92%
Average precision_macro: 93.03%

f1_macro:
Fold 1: 92.80%
Fold 2: 92.69%
Fold 3: 92.74%
Fold 4: 92.72%
Fold 5: 92.58%
Average f1_macro: 92.71%

Test Set Accuracy: 93.92%

Test Set Precision: 92.09%

Test Set Recall: 89.76%

Test Set F1-score: 90.91%

In [32]:
print(kfold_scores)

[0.92507202 0.92395196 0.92439041 0.92425226 0.92271704]

# Next steps
- how do we deal with building construction year 9999
- how do we evaluate ? recall, AUC-PR, f1 score?
- how do we handle the month component ? replace target by 12 target variables 'fire in month' run 12 predictions per address ? or create 10 lines per address with a single binary target variable ?
- visualization map + slider for month ?