In [1]:
import pandas as pd 
from matplotlib import pyplot as pyplot
import seaborn as sns
import os
import geopandas as gpd
from shapely.geometry import Point
import numpy as np
import pickle

# Import necessary libraries
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split, cross_val_score,cross_validate
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,recall_score,f1_score,make_scorer,precision_score
from sklearn.preprocessing import LabelEncoder

In [3]:
#os.path.realpath(__file__)
# current_path = os.getcwd()
# dataset_path = os.path.dirname(current_path) # up 1 level
# dataset_path = os.path.dirname(dataset_path) # up 2 level
# dataset_path = os.path.join(dataset_path,'datasets')

dirname = os.getcwd()

raw_dataset_path = os.path.join(dirname,'..','..','datasets','raw')
cleaned_dataset_path = os.path.join(dirname,'..','..','datasets','cleaned')

In [4]:
#df = pd.read_csv(os.path.join(DIRECTORY,'evaluation-fonciere-with-fire.csv'))

df = pd.read_csv(os.path.join(cleaned_dataset_path,'evaluation_with_fire_and_coordinates.csv'))
df.drop(['fire','LETTRE_DEBUT','LETTRE_FIN'],axis=1,inplace=True)

#build geo dataframe from evaluation df
eval_gdf = gpd.GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df["LONGITUDE"].astype(float),
                                 df["LATITUDE"].astype(float)),
    crs="EPSG:4326"
)

# Create list of months (1-12)
months = list(range(1, 13))

# Duplicate each row 12 times and add month column
df = df.loc[df.index.repeat(12)].assign(month=np.tile(months, len(df))).reset_index(drop=True)

In [5]:
df.shape

(6171384, 21)

In [6]:
df.columns

Index(['ID_UEV', 'CIVIQUE_DEBUT', 'CIVIQUE_FIN', 'NOM_RUE', 'SUITE_DEBUT',
       'MUNICIPALITE', 'ETAGE_HORS_SOL', 'NOMBRE_LOGEMENT',
       'ANNEE_CONSTRUCTION', 'CODE_UTILISATION', 'LIBELLE_UTILISATION',
       'CATEGORIE_UEF', 'MATRICULE83', 'SUPERFICIE_TERRAIN',
       'SUPERFICIE_BATIMENT', 'NO_ARROND_ILE_CUM', 'NOM_RUE_CLEAN', 'ADDR_DE',
       'LONGITUDE', 'LATITUDE', 'month'],
      dtype='object')

In [7]:
df.head()

,ID_UEV,CIVIQUE_DEBUT,CIVIQUE_FIN,NOM_RUE,SUITE_DEBUT,MUNICIPALITE,ETAGE_HORS_SOL,NOMBRE_LOGEMENT,ANNEE_CONSTRUCTION,CODE_UTILISATION,...,CATEGORIE_UEF,MATRICULE83,SUPERFICIE_TERRAIN,SUPERFICIE_BATIMENT,NO_ARROND_ILE_CUM,NOM_RUE_CLEAN,ADDR_DE,LONGITUDE,LATITUDE,month
0,1038405,3577,3577,avenue Atwater (MTL+WMT),NaN,50,NaN,NaN,1983,1921,...,Condominium,9739-83-9737-8-001-0431,2,NaN,REM19,avenue atwater,3577.0,-73.588602,45.493711,1
1,1038405,3577,3577,avenue Atwater (MTL+WMT),NaN,50,NaN,NaN,1983,1921,...,Condominium,9739-83-9737-8-001-0431,2,NaN,REM19,avenue atwater,3577.0,-73.588602,45.493711,2
2,1038405,3577,3577,avenue Atwater (MTL+WMT),NaN,50,NaN,NaN,1983,1921,...,Condominium,9739-83-9737-8-001-0431,2,NaN,REM19,avenue atwater,3577.0,-73.588602,45.493711,3
3,1038405,3577,3577,avenue Atwater (MTL+WMT),NaN,50,NaN,NaN,1983,1921,...,Condominium,9739-83-9737-8-001-0431,2,NaN,REM19,avenue atwater,3577.0,-73.588602,45.493711,4
4,1038405,3577,3577,avenue Atwater (MTL+WMT),NaN,50,NaN,NaN,1983,1921,...,Condominium,9739-83-9737-8-001-0431,2,NaN,REM19,avenue atwater,3577.0,-73.588602,45.493711,5

In [9]:
incidents = pd.read_csv(os.path.join(cleaned_dataset_path,'interventions_cleaned.csv'),parse_dates=['CREATION_DATE_TIME'])
# -- Project both to meters for spatial operations ---
eval_gdf = eval_gdf.to_crs(epsg=32188)
incident_gdf = gpd.GeoDataFrame(
    incidents,
    geometry=gpd.points_from_xy(incidents["LONGITUDE"], incidents["LATITUDE"]),
    crs="EPSG:4326"
)

# --- Project both to meters for spatial operations ---

incident_gdf = incident_gdf.to_crs(epsg=32188)


df['fire']=False #sets all values to False by default
print(f"Starting incident matching")
print(f"df['fire'] contains {df['fire'].value_counts()}")
for m in months:
    
    monthly_incidents_gdf=incident_gdf[incident_gdf['CREATION_DATE_TIME'].dt.month==m].copy()
    print(monthly_incidents_gdf.head(5))
    print(f"month {m} : {monthly_incidents_gdf.shape}")
    
    
    # --- Buffer fire incidents by 100 meters ---
    monthly_incidents_gdf["buffer"] = monthly_incidents_gdf.geometry.buffer(100)
    incident_buffer_gdf = monthly_incidents_gdf.set_geometry("buffer")
    
    # --- Spatial join: find properties within 100m of a fire incident ---
    joined = gpd.sjoin(eval_gdf, incident_buffer_gdf, predicate='within', how='inner')
    # print(f"joined length : {joined.shape}")
    # --- Use unique matched ID_UEV set to mark fires ---
    matched_ids = set(joined["ID_UEV"])
    # print(f"matched ids: {len(matched_ids)} - first {list(matched_ids)[0]}")
    #rint('-'.join(sorted(list(str(id) for id in matched_ids))))
    # --- Back to original eval_df (including unmatched rows) ---
    # Assign fire flag based on ID_UEV
    # print(df["ID_UEV"].isin(matched_ids) & df['month']==m)
    #df["fire"] = (df["ID_UEV"].isin(matched_ids) & df['month']==m) | df['fire']==True # added the condition that if fire is already set to true we don't overwrite it
    df["fire"] = (df["ID_UEV"].isin(matched_ids) & (df['month']==m)) | (df['fire']==True)
    print(f"Finished processing month {m}")
    print(f"df['fire'] contains {df['fire'].value_counts()}")

Starting incident matching
df['fire'] contains fire
False    6171384
Name: count, dtype: int64
   INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
0             1 2025-01-01 00:02:31  Appel de Cie de détection
1             5 2024-01-01 00:22:14  Appel de Cie de détection
2             8 2024-01-01 00:27:34  Appel de Cie de détection
3             9 2025-01-01 00:13:59     Alarme privé ou locale
4            10 2025-01-01 00:16:26        Alarme vérification

  DESCRIPTION_GROUPE  CASERNE NOM_VILLE                            NOM_ARROND  \
0  Alarmes-incendies       64  Montréal                               Lachine
1  Alarmes-incendies       34  Montréal   Côte-des-Neiges-Notre-Dame-de-Grâce
2  Alarmes-incendies       27  Montréal   Côte-des-Neiges-Notre-Dame-de-Grâce
3  Alarmes-incendies       41  Montréal  Villeray-Saint-Michel-Parc-Extension
4  Alarmes-incendies       10  Montréal                           Ville-Marie

   DIVISION  LONGITUDE   LATITUDE                        geometry
0         2 -73.678138  45.445944  POINT (290865.156 5034016.856)
1         3 -73.630026  45.479324  POINT (294634.717 5037719.153)
2         3 -73.615227  45.495469  POINT (295794.259 5039511.585)
3         5 -73.627986  45.531990  POINT (294803.528 5043571.699)
4         6 -73.582178  45.492262  POINT (298376.889 5039152.016)
month 1 : (8150, 11)
Finished processing month 1
df['fire'] contains fire
False    6035302
True      136082
Name: count, dtype: int64
      INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
1338          9910 2024-02-01 02:13:26  Appel de Cie de détection
1339          9912 2024-02-01 02:28:42     Alarme privé ou locale
1340          9914 2024-02-01 02:40:39     Alarme privé ou locale
1342          9951 2024-02-01 07:17:14  Appel de Cie de détection
1343          9953 2024-02-01 07:23:42  Appel de Cie de détection

     DESCRIPTION_GROUPE  CASERNE NOM_VILLE  \
1338  Alarmes-incendies       37  Montréal
1339  Alarmes-incendies       30  Montréal
1340  Alarmes-incendies       73  Montréal
1342  Alarmes-incendies        5  Montréal
1343  Alarmes-incendies       40  Montréal

                                NOM_ARROND  DIVISION  LONGITUDE   LATITUDE  \
1338  Villeray-Saint-Michel-Parc-Extension         5 -73.606784  45.548241
1339                 Le Plateau-Mont-Royal         6 -73.574035  45.513809
1340                         Saint-Laurent         3 -73.666944  45.530378
1342                           Ville-Marie         6 -73.569816  45.507655
1343         Mercier-Hochelaga-Maisonneuve         5 -73.518828  45.601215

                            geometry
1338  POINT (296461.933 5045375.271)
1339  POINT (299015.561 5041545.926)
1340  POINT (291760.303 5043398.144)
1342  POINT (299344.602 5040861.733)
1343  POINT (303331.226 5051256.998)
month 2 : (8106, 11)
Finished processing month 2
df['fire'] contains fire
False    5901646
True      269738
Name: count, dtype: int64
      INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
2649         19558 2024-03-01 00:38:09     Alarme privé ou locale
2650         19559 2024-03-01 00:49:57  Appel de Cie de détection
2652         19574 2024-03-01 02:35:56  Appel de Cie de détection
2653         19576 2024-03-01 03:03:40            Feu de bâtiment
2654         19579 2024-03-01 03:22:27            Feu / 2e Alerte

     DESCRIPTION_GROUPE  CASERNE NOM_VILLE  \
2649  Alarmes-incendies        3  Montréal
2650  Alarmes-incendies       30  Montréal
2652  Alarmes-incendies       37  Montréal
2653           INCENDIE       73  Montréal
2654           INCENDIE       56  Montréal

                                NOM_ARROND  DIVISION  LONGITUDE   LATITUDE  \
2649                          Le Sud-Ouest         2 -73.563779  45.493518
2650                 Le Plateau-Mont-Royal         5 -73.590271  45.524792
2652  Villeray-Saint-Michel-Parc-Extension         3 -73.628127  45.544320
2653                         Saint-Laurent         3 -73.680450  45.512853
2654         L'Île-Bizard-Sainte-Geneviève         1 -73.939158  45.477250

                            geometry
2649   POINT (299815.083 5039290.29)
2650  POINT (297748.396 5042767.774)
2652  POINT (294794.702 5044941.963)
2653  POINT (290700.997 5041452.858)
2654    POINT (270465.88 5037574.26)
month 3 : (8229, 11)
Finished processing month 3
df['fire'] contains fire
False    5761255
True      410129
Name: count, dtype: int64
      INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
4045         29101 2024-04-01 00:02:20  Appel de Cie de détection
4046         29103 2024-04-01 00:10:40  Appel de Cie de détection
4048         29127 2024-04-01 04:27:38     Alarme privé ou locale
4050         29128 2024-04-01 04:28:25     Alarme privé ou locale
4053         29145 2024-04-01 07:03:25             Déchets en feu

     DESCRIPTION_GROUPE  CASERNE NOM_VILLE  \
4045  Alarmes-incendies       73  Montréal
4046  Alarmes-incendies       73  Montréal
4048  Alarmes-incendies       64  Montréal
4050  Alarmes-incendies       64  Montréal
4053           AUTREFEU       14  Montréal

                                    NOM_ARROND  DIVISION  LONGITUDE  \
4045                             Saint-Laurent         3 -73.675925
4046                             Saint-Laurent         3 -73.699653
4048                                   Lachine         2 -73.665975
4050                                   Lachine         2 -73.679806
4053  Rivière-des-Prairies-Pointe-aux-Trembles         4 -73.584768

       LATITUDE                        geometry
4045  45.531088  POINT (291058.986 5043478.545)
4046  45.523830  POINT (289203.652 5042676.291)
4048  45.429955  POINT (291812.939 5032237.975)
4050  45.434820  POINT (290731.913 5032780.945)
4053  45.627407  POINT (298190.317 5054171.107)
month 4 : (9001, 11)
Finished processing month 4
df['fire'] contains fire
False    5612320
True      559064
Name: count, dtype: int64
      INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
5598         39317 2024-05-01 01:45:38     Alarme privé ou locale
5600         39321 2024-05-01 02:38:47  Appel de Cie de détection
5601         39325 2024-05-01 04:04:31     Alarme privé ou locale
5603         39343 2024-05-01 06:32:34             10-22 avec feu
5609         39385 2024-05-01 09:22:18  Appel de Cie de détection

     DESCRIPTION_GROUPE  CASERNE NOM_VILLE  \
5598  Alarmes-incendies       46  Montréal
5600  Alarmes-incendies       45  Montréal
5601  Alarmes-incendies       16  Montréal
5603           INCENDIE       20  Montréal
5609  Alarmes-incendies       38  Montréal

                                    NOM_ARROND  DIVISION  LONGITUDE  \
5598       Côte-des-Neiges-Notre-Dame-de-Grâce         2 -73.634744
5600             Mercier-Hochelaga-Maisonneuve         5 -73.528768
5601                     Le Plateau-Mont-Royal         6 -73.573353
5603                               Ville-Marie         6 -73.554946
5609  Rivière-des-Prairies-Pointe-aux-Trembles         4 -73.493655

       LATITUDE                        geometry
5598  45.451590  POINT (294260.703 5034637.689)
5600  45.559058  POINT (302554.125 5046572.236)
5601  45.517113  POINT (299069.182 5041913.053)
5603  45.515227  POINT (300507.114 5041702.312)
5609  45.667472  POINT (305294.391 5058620.188)
month 5 : (9542, 11)
Finished processing month 5
df['fire'] contains fire
False    5461956
True      709428
Name: count, dtype: int64
      INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
7277         50344 2024-06-01 01:42:42  Appel de Cie de détection
7279         50345 2024-06-01 01:46:08  Appel de Cie de détection
7282         50372 2024-06-01 04:11:01            Feu de bâtiment
7284         50397 2024-06-01 06:21:25  Appel de Cie de détection
7285         50402 2024-06-01 06:44:00  Appel de Cie de détection

     DESCRIPTION_GROUPE  CASERNE      NOM_VILLE  \
7277  Alarmes-incendies        3       Montréal
7279  Alarmes-incendies       30       Montréal
7282           INCENDIE       21       Montréal
7284  Alarmes-incendies       55  Pointe-Claire
7285  Alarmes-incendies       34       Montréal

                               NOM_ARROND  DIVISION  LONGITUDE   LATITUDE  \
7277                         Le Sud-Ouest         2 -73.557542  45.494841
7279                Le Plateau-Mont-Royal         6 -73.577150  45.508909
7282                        Saint-Léonard         4 -73.590799  45.580733
7284                          Indéterminé         1 -73.822238  45.463737
7285  Côte-des-Neiges-Notre-Dame-de-Grâce         3 -73.612219  45.477356

                            geometry
7277  POINT (300302.668 5039436.947)
7279  POINT (298771.659 5041001.615)
7282  POINT (297714.184 5048984.625)
7284  POINT (279600.862 5036029.259)
7285  POINT (296026.543 5037498.351)
month 6 : (9044, 11)
Finished processing month 6
df['fire'] contains fire
False    5312252
True      859132
Name: count, dtype: int64
      INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
8338         61665 2024-07-01 00:14:53            Feu / 2e Alerte
8339         61668 2024-07-01 00:40:41             Déchets en feu
8340         61696 2024-07-01 04:19:54  Appel de Cie de détection
8341         61702 2024-07-01 05:04:56  Appel de Cie de détection
8342         61709 2024-07-01 05:46:59            Feu de bâtiment

     DESCRIPTION_GROUPE  CASERNE   NOM_VILLE             NOM_ARROND  DIVISION  \
8338           INCENDIE       26    Montréal  Le Plateau-Mont-Royal         5
8339           AUTREFEU        3    Montréal           Le Sud-Ouest         2
8340  Alarmes-incendies       57    Montréal    Pierrefonds-Roxboro         1
8341  Alarmes-incendies       74  Mont-Royal            Indéterminé         3
8342           INCENDIE       42    Montréal  Ahuntsic-Cartierville         3

      LONGITUDE   LATITUDE                        geometry
8338 -73.575894  45.538881  POINT (298872.949 5044332.337)
8339 -73.571747  45.492273  POINT (299192.187 5039152.458)
8340 -73.848429  45.499266  POINT (277569.836 5039986.143)
8341 -73.639165  45.525019  POINT (293929.039 5042798.457)
8342 -73.697243  45.539437  POINT (289396.176 5044410.248)
month 7 : (9014, 11)
Finished processing month 7
df['fire'] contains fire
False    5163070
True     1008314
Name: count, dtype: int64
      INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
9298         72783 2024-08-01 00:07:36             Déchets en feu
9299         72785 2024-08-01 00:35:52  Appel de Cie de détection
9300         72789 2024-08-01 01:22:30     Alarme privé ou locale
9301         72795 2024-08-01 02:07:16             Déchets en feu
9302         72796 2024-08-01 02:30:22     Alarme privé ou locale

     DESCRIPTION_GROUPE  CASERNE NOM_VILLE  \
9298           AUTREFEU       50  Montréal
9299  Alarmes-incendies       28  Montréal
9300  Alarmes-incendies       72  Montréal
9301           AUTREFEU       25  Montréal
9302  Alarmes-incendies       41  Montréal

                                NOM_ARROND  DIVISION  LONGITUDE   LATITUDE  \
9298             Rosemont-La Petite-Patrie         5 -73.584229  45.569105
9299                                 Anjou         4 -73.563946  45.610263
9300                         Saint-Laurent         3 -73.701419  45.478307
9301                           Ville-Marie         6 -73.576601  45.497629
9302  Villeray-Saint-Michel-Parc-Extension         5 -73.627168  45.529604

                            geometry
9298   POINT (298225.54 5047691.824)
9299  POINT (299812.368 5052264.341)
9300  POINT (289053.012 5037617.645)
9301  POINT (298813.362 5039748.022)
9302  POINT (294866.999 5043306.438)
month 8 : (8978, 11)
Finished processing month 8
df['fire'] contains fire
False    5016268
True     1155116
Name: count, dtype: int64
       INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
10325         84599 2024-09-01 00:05:13  Appel de Cie de détection
10326         84600 2024-09-01 00:05:27          Feu de cuisinière
10327         84633 2024-09-01 02:15:32     Alarme privé ou locale
10328         84634 2024-09-01 02:17:50     Alarme privé ou locale
10329         84635 2024-09-01 02:18:44  Appel de Cie de détection

      DESCRIPTION_GROUPE  CASERNE NOM_VILLE  \
10325  Alarmes-incendies        5  Montréal
10326           INCENDIE       29  Montréal
10327  Alarmes-incendies       27  Montréal
10328  Alarmes-incendies        3  Montréal
10329  Alarmes-incendies        5  Montréal

                                NOM_ARROND  DIVISION  LONGITUDE   LATITUDE  \
10325                          Ville-Marie         6 -73.566299  45.509435
10326            Rosemont-La Petite-Patrie         5 -73.558753  45.549960
10327  Côte-des-Neiges-Notre-Dame-de-Grâce         3 -73.630416  45.495367
10328                         Le Sud-Ouest         2 -73.562291  45.492193
10329                          Ville-Marie         6 -73.567019  45.510743

                             geometry
10325  POINT (299619.582 5041059.313)
10326  POINT (300212.501 5045562.438)
10327  POINT (294607.122 5039502.064)
10328   POINT (299931.27 5039142.951)
10329  POINT (299563.445 5041204.718)
month 9 : (8218, 11)
Finished processing month 9
df['fire'] contains fire
False    4872273
True     1299111
Name: count, dtype: int64
       INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
11144         95765 2024-10-01 03:18:46     Alarme privé ou locale
11145         95768 2024-10-01 03:46:37  Appel de Cie de détection
11146         95787 2024-10-01 06:26:39  Appel de Cie de détection
11147         95826 2024-10-01 09:35:52     Alarme privé ou locale
11148         95833 2024-10-01 10:01:20  Appel de Cie de détection

      DESCRIPTION_GROUPE  CASERNE NOM_VILLE  \
11144  Alarmes-incendies       65  Montréal
11145  Alarmes-incendies       20  Montréal
11146  Alarmes-incendies       75  Montréal
11147  Alarmes-incendies       17  Montréal
11148  Alarmes-incendies        9  Montréal

                                 NOM_ARROND  DIVISION  LONGITUDE   LATITUDE  \
11144                               LaSalle         2 -73.637396  45.422172
11145                           Ville-Marie         6 -73.560001  45.503676
11146                             Outremont         3 -73.614315  45.514109
11147                         Montréal-Nord         4 -73.634150  45.596551
11148  Villeray-Saint-Michel-Parc-Extension         4 -73.619253  45.558767

                             geometry
11144  POINT (294047.685 5031368.841)
11145  POINT (300111.212 5040418.925)
11146  POINT (295868.486 5041582.956)
11147  POINT (294334.078 5050747.257)
11148  POINT (295490.049 5046546.412)
month 10 : (8394, 11)
Finished processing month 10
df['fire'] contains fire
False    4731593
True     1439791
Name: count, dtype: int64
       INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
12013        107452 2024-11-01 00:58:23             Déchets en feu
12014        107459 2024-11-01 01:17:38  Appel de Cie de détection
12015        107463 2024-11-01 01:30:51  Appel de Cie de détection
12016        107488 2024-11-01 02:57:50            Feu de bâtiment
12017        107489 2024-11-01 02:59:33  Appel de Cie de détection

      DESCRIPTION_GROUPE  CASERNE NOM_VILLE                 NOM_ARROND  \
12013           AUTREFEU       17  Montréal              Montréal-Nord
12014  Alarmes-incendies       21  Montréal              Saint-Léonard
12015  Alarmes-incendies       29  Montréal  Rosemont-La Petite-Patrie
12016           INCENDIE       64  Montréal                    Lachine
12017  Alarmes-incendies       20  Montréal                Ville-Marie

       DIVISION  LONGITUDE   LATITUDE                        geometry
12013         4 -73.638325  45.608777  POINT (294010.702 5052106.516)
12014         4 -73.607455  45.580474  POINT (296414.336 5048957.448)
12015         5 -73.580834  45.551169  POINT (298488.528 5045698.295)
12016         2 -73.684801  45.445651  POINT (290343.868 5033985.472)
12017         6 -73.547703  45.514248  POINT (301072.939 5041593.153)
month 11 : (7529, 11)
Finished processing month 11
df['fire'] contains fire
False    4601670
True     1569714
Name: count, dtype: int64
       INCIDENT_NBR  CREATION_DATE_TIME         INCIDENT_TYPE_DESC  \
12828        118423 2024-12-01 01:51:09  Appel de Cie de détection
12829        118430 2024-12-01 02:13:46             Feu de champ *
12830        118434 2024-12-01 02:38:02     Alarme privé ou locale
12831        118464 2024-12-01 06:07:02             10-22 avec feu
12832        118506 2024-12-01 09:30:11  Appel de Cie de détection

      DESCRIPTION_GROUPE  CASERNE       NOM_VILLE             NOM_ARROND  \
12828  Alarmes-incendies        5        Montréal            Ville-Marie
12829           AUTREFEU       42        Montréal  Ahuntsic-Cartierville
12830  Alarmes-incendies       78  Côte-Saint-Luc            Indéterminé
12831           INCENDIE       73        Montréal          Saint-Laurent
12832  Alarmes-incendies       17        Montréal          Montréal-Nord

       DIVISION  LONGITUDE   LATITUDE                        geometry
12828         6 -73.562148  45.509755  POINT (299943.957 5041094.615)
12829         3 -73.716906  45.533823  POINT (287858.895 5043790.319)
12830         2 -73.645236  45.473540  POINT (293444.456 5037078.414)
12831         3 -73.659321  45.522649  POINT (292354.018 5042538.003)
12832         4 -73.646829  45.584882  POINT (293342.532 5049452.188)
month 12 : (7005, 11)
Finished processing month 12
df['fire'] contains fire
False    4477681
True     1693703
Name: count, dtype: int64

In [9]:
df[df['fire']]['month'].value_counts()

month
5     150364
6     149704
7     149182
4     148935
8     146802
9     143995
10    140680
3     140391
1     136082
2     133656
11    129923
12    123989
Name: count, dtype: int64

In [ ]:
incidents['DESCRIPTION_GROUPE'].unique()

array(['Alarmes-incendies', 'AUTREFEU', 'INCENDIE'], dtype=object)

In [ ]:
df.head(10)['fire']

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: fire, dtype: bool

In [ ]:
addresses.head()

,ID_ADRESSE,TEXTE,SPECIFIQUE,ORIENTATION,LIEN,HAUTEUR,GENERIQUE,ANGLE,ADDR_DE,ADDR_A,X,Y,LONGITUDE,LATITUDE
0,72,#5664,1re,X,NaN,2.0,avenue,22.6058,5664,5664,298491.88,5045167.13,-73.580784,45.546389
1,261,#6653-55,1re,X,NaN,2.0,avenue,33.6547,6653,6655,297562.19,5045750.57,-73.592699,45.551630
2,294,#6777-79,1re,X,NaN,2.0,avenue,33.7086,6777,6779,297390.43,5045863.43,-73.594900,45.552644
3,296,#6781-85,1re,X,NaN,2.0,avenue,33.7086,6781,6785,297383.87,5045867.68,-73.594984,45.552682
4,305,#6812-14,1re,X,NaN,2.0,avenue,33.5571,6812,6814,297337.81,5045854.24,-73.595574,45.552561

In [ ]:
df.columns

Index(['ID_UEV', 'CIVIQUE_DEBUT', 'CIVIQUE_FIN', 'NOM_RUE', 'SUITE_DEBUT',
       'MUNICIPALITE', 'ETAGE_HORS_SOL', 'NOMBRE_LOGEMENT',
       'ANNEE_CONSTRUCTION', 'CODE_UTILISATION', 'LIBELLE_UTILISATION',
       'CATEGORIE_UEF', 'MATRICULE83', 'SUPERFICIE_TERRAIN',
       'SUPERFICIE_BATIMENT', 'NO_ARROND_ILE_CUM'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512288 entries, 0 to 512287
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID_UEV               512288 non-null  int64
 1   CIVIQUE_DEBUT        512288 non-null  int64
 2   CIVIQUE_FIN          512288 non-null  int64
 3   NOM_RUE              512288 non-null  object
 4   SUITE_DEBUT          134705 non-null  object
 5   MUNICIPALITE         512288 non-null  int64
 6   ETAGE_HORS_SOL       462458 non-null  float64
 7   NOMBRE_LOGEMENT      465930 non-null  float64
 8   ANNEE_CONSTRUCTION   512288 non-null  int64
 9   CODE_UTILISATION     512288 non-null  int64
 10  LIBELLE_UTILISATION  512288 non-null  object
 11  CATEGORIE_UEF        512288 non-null  object
 12  MATRICULE83          512288 non-null  object
 13  SUPERFICIE_TERRAIN   512288 non-null  int64
 14  SUPERFICIE_BATIMENT  477455 non-null  float64
 15  NO_ARROND_ILE_CUM    512288 non-null  object
dtypes: float64(3), int64(7), object(6)
memory usage: 62.5+ MB

In [10]:


# Encode categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
le = LabelEncoder()

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

# split into X,y
X=df.iloc[:, :-1]
y=df['fire']

In [14]:
df[df['fire']].head(20)

,ID_UEV,CIVIQUE_DEBUT,CIVIQUE_FIN,NOM_RUE,SUITE_DEBUT,MUNICIPALITE,ETAGE_HORS_SOL,NOMBRE_LOGEMENT,ANNEE_CONSTRUCTION,CODE_UTILISATION,...,MATRICULE83,SUPERFICIE_TERRAIN,SUPERFICIE_BATIMENT,NO_ARROND_ILE_CUM,NOM_RUE_CLEAN,ADDR_DE,LONGITUDE,LATITUDE,month,fire
48,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,1,True
49,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,2,True
50,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,3,True
51,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,4,True
52,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,5,True
53,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,6,True
54,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,7,True
55,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,8,True
56,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,9,True
57,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,10,True
58,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,11,True
59,1037334,1254,1254,5632,169,50,1.0,1.0,1914,1000,...,425609,16,82.0,7,5411,1254.0,-73.579815,45.492286,12,True
64,1008952,1681,1681,4295,5893,50,1.0,1.0,1949,1000,...,382169,411,105.0,8,4264,1681.0,-73.586974,45.456788,5,True
67,1008952,1681,1681,4295,5893,50,1.0,1.0,1949,1000,...,382169,411,105.0,8,4264,1681.0,-73.586974,45.456788,8,True
72,1043207,3809,3811,3442,5893,50,2.0,2.0,1892,1000,...,431892,128,164.0,9,3004,3809.0,-73.576448,45.515162,1,True
73,1043207,3809,3811,3442,5893,50,2.0,2.0,1892,1000,...,431892,128,164.0,9,3004,3809.0,-73.576448,45.515162,2,True
74,1043207,3809,3811,3442,5893,50,2.0,2.0,1892,1000,...,431892,128,164.0,9,3004,3809.0,-73.576448,45.515162,3,True
75,1043207,3809,3811,3442,5893,50,2.0,2.0,1892,1000,...,431892,128,164.0,9,3004,3809.0,-73.576448,45.515162,4,True
76,1043207,3809,3811,3442,5893,50,2.0,2.0,1892,1000,...,431892,128,164.0,9,3004,3809.0,-73.576448,45.515162,5,True
77,1043207,3809,3811,3442,5893,50,2.0,2.0,1892,1000,...,431892,128,164.0,9,3004,3809.0,-73.576448,45.515162,6,True

In [16]:
X.head(2)

,ID_UEV,CIVIQUE_DEBUT,CIVIQUE_FIN,NOM_RUE,SUITE_DEBUT,MUNICIPALITE,ETAGE_HORS_SOL,NOMBRE_LOGEMENT,ANNEE_CONSTRUCTION,CODE_UTILISATION,...,CATEGORIE_UEF,MATRICULE83,SUPERFICIE_TERRAIN,SUPERFICIE_BATIMENT,NO_ARROND_ILE_CUM,NOM_RUE_CLEAN,ADDR_DE,LONGITUDE,LATITUDE,month
0,1038405,3577,3577,482,5893,50,NaN,NaN,1983,1921,...,0,387877,2,NaN,7,228,3577.0,-73.588602,45.493711,1
1,1038405,3577,3577,482,5893,50,NaN,NaN,1983,1921,...,0,387877,2,NaN,7,228,3577.0,-73.588602,45.493711,2

In [ ]:
# Split dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define multiple scoring metrics
scoring_metrics = ['recall_macro', 'precision_macro', 'f1_macro']

#define a random forest model
rf = RandomForestClassifier(n_estimators=100, random_state=42)

# Perform k-fold cross-validation on training set
scores = cross_validate(
    estimator=rf,
    X=X_train,
    y=y_train,
    cv=5,
    scoring=scoring_metrics,
    return_train_score=True,
    return_estimator=True,
    verbose=2 # to show progress
)

# Print scores for each metric
print("K-fold Cross Validation Scores:")
for metric in scoring_metrics:
    print(f"\n{metric}:")
    for i, score in enumerate(scores[f'test_{metric}']):
        print(f"Fold {i+1}: {score:.2%}")
    print(f"Average {metric}: {scores[f'test_{metric}'].mean():.2%}")


# Get the best model based on average test score
# best_model_idx = np.argmax([np.mean(scores[f'test_{metric}']) 
#                           for metric in scoring_metrics])
# Gets the best model based on f1_score
#print(scores)
best_model_idx = np.argmax(scores['test_f1_macro']) 


best_model = scores['estimator'][best_model_idx]

# Save the best model
model_path = 'best_model.pkl'
with open(model_path, 'wb') as f:
    pickle.dump(best_model, f)

# validate model performance on test set
y_test_predictions = best_model.predict(X_test)
test_accuracy = accuracy_score(y_test,y_test_predictions)
test_precision = precision_score(y_test,y_test_predictions)
test_recall = recall_score(y_test,y_test_predictions)
test_f1 = f1_score(y_test,y_test_predictions)


print(f"\nTest Set Accuracy: {test_accuracy:.2%}")
print(f"\nTest Set Precision: {test_precision:.2%}")
print(f"\nTest Set Recall: {test_recall:.2%}")
print(f"\nTest Set F1-score: {test_f1:.2%}")

[CV] END .................................................... total time=44.3min
[CV] END .................................................... total time=86.8min
[CV] END .................................................... total time=43.6min
[CV] END .................................................... total time=44.4min
[CV] END .................................................... total time=44.5min
K-fold Cross Validation Scores:

recall_macro:
Fold 1: 83.40%
Fold 2: 83.37%
Fold 3: 83.49%
Fold 4: 83.47%
Fold 5: 83.46%
Average recall_macro: 83.44%

precision_macro:
Fold 1: 84.44%
Fold 2: 84.44%
Fold 3: 84.52%
Fold 4: 84.50%
Fold 5: 84.52%
Average precision_macro: 84.48%

f1_macro:
Fold 1: 83.89%
Fold 2: 83.88%
Fold 3: 83.98%
Fold 4: 83.96%
Fold 5: 83.96%
Average f1_macro: 83.93%

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed: 276.6min finished

Test Set Accuracy: 87.41%

Test Set Precision: 78.41%

Test Set Recall: 74.52%

Test Set F1-score: 76.41%

In [4]:
model_path = 'best_model.pkl'
# Verify the save worked
with open(model_path, 'rb') as f:
    loaded_model = pickle.load(f)

# validate model performance on test set
y_test_predictions = loaded_model.predict(X_test)
test_accuracy = accuracy_score(y_test,y_test_predictions)
test_precision = precision_score(y_test,y_test_predictions)
test_recall = recall_score(y_test,y_test_predictions)
test_f1 = f1_score(y_test,y_test_predictions)


print(f"\nTest Set Accuracy: {test_accuracy:.2%}")
print(f"\nTest Set Precision: {test_precision:.2%}")
print(f"\nTest Set Recall: {test_recall:.2%}")
print(f"\nTest Set F1-score: {test_f1:.2%}")

NameError: name 'X_test' is not defined

In [5]:
loaded_model.feature_importances_

array([0.04358553, 0.02891045, 0.02935102, 0.02141013, 0.01581384,
       0.00229381, 0.01279384, 0.00823966, 0.02583329, 0.00135314,
       0.00125172, 0.00961647, 0.04432779, 0.04745686, 0.02714322,
       0.01064602, 0.01890073, 0.11895232, 0.12810088, 0.12561429,
       0.27840498])

In [11]:
# Built-in feature importance (Gini Importance)
feature_names=list(X.columns)
importances = loaded_model.feature_importances_
feature_imp_df = pd.DataFrame({'Feature': feature_names, 'Gini Importance': importances}).sort_values('Gini Importance', ascending=False) 
print(feature_imp_df)

                Feature  Gini Importance
20                month         0.278405
18            LONGITUDE         0.128101
19             LATITUDE         0.125614
17              ADDR_DE         0.118952
13   SUPERFICIE_TERRAIN         0.047457
12          MATRICULE83         0.044328
0                ID_UEV         0.043586
2           CIVIQUE_FIN         0.029351
1         CIVIQUE_DEBUT         0.028910
14  SUPERFICIE_BATIMENT         0.027143
8    ANNEE_CONSTRUCTION         0.025833
3               NOM_RUE         0.021410
16        NOM_RUE_CLEAN         0.018901
4           SUITE_DEBUT         0.015814
6        ETAGE_HORS_SOL         0.012794
15    NO_ARROND_ILE_CUM         0.010646
11        CATEGORIE_UEF         0.009616
7       NOMBRE_LOGEMENT         0.008240
5          MUNICIPALITE         0.002294
9      CODE_UTILISATION         0.001353
10  LIBELLE_UTILISATION         0.001252

In [32]:
print(kfold_scores)

[0.92507202 0.92395196 0.92439041 0.92425226 0.92271704]

- filtering redundant geographical information
- summarizing alarmes over time
- summarizing fire incidents over time
- try lasso ?

# Next steps
- how do we deal with building construction year 9999
- how do we evaluate ? recall, AUC-PR, f1 score?
- how do we handle the month component ? replace target by 12 target variables 'fire in month' run 12 predictions per address ? or create 10 lines per address with a single binary target variable ?
- visualization map + slider for month ?